<h2>Create usuario</h2>

<form method="post" enctype="multipart/form-data">
    <label>Id</label>
    <input type="text" name="idusuario" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Descripcion</label>
    <input type="text" name="descripcion" class="form-control" />
    <label>Fecha Alta</label>
    <input type="text" name="fechaalta" class="form-control" />

    <label> Mas información: </label>
    <input name="masinfo" value="true" type="checkbox" />
    <br />
    <label>Titulo 1</label>
    <input type="text" name="titulo" class="form-control" />
    <label>Titulo 2</label>
    <input type="text" name="titulo" class="form-control" />
    <label>Foto</label>
    <input multiple type="file" name="foto" class="form-control" />
    <br />
    <button class="btn btn-success" type="submit">crear</button>
</form>